<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" class="{{ darkmode }}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css" type="text/css">
	<title>sign up</title>
</head>

<body>
	<form action="/signup?gameid={{gameid}}" method="POST">
		<div class="signup">
			<div class="signup-screen">
				<div class="app-title">
					<h1>signup</h1>
				</div>
				<div class="center nachricht">
					{{nachricht}}
				</div>
				<div class="signup-form">
					<div class="control-group">
						<input type="text" class="signup-field" value="" placeholder="username" name="username" required="required">
						<label class="signup-field-icon fui-user" for="signup-name"></label>
					</div>
					<div class="control-group">
						<input type="password" class="signup-field" value="" placeholder="password" name="password" required="required">
						<label class="signup-field-icon fui-lock" for="signup-pass"></label>
					</div>
					<div class="control-group">
						<input type="password" class="signup-field" value="" placeholder="repeat password" name="password2" required="required">
						<label class="signup-field-icon fui-lock" for="signup-pass"></label>
					</div>
					<div class="control-group">
						<input type="number" class="signup-field" value="" placeholder="gameid (optional)" name="gameid" >
						<label class="" for="signup-gameid"></label>
					</div>
					<input type="submit" value="Sign in" class="btn btn-primary btn-large btn-block">
				</div>
			</div>
		</div>
	</form>
</body>

</html>